.main{ 
     flex-direction: row; justify-items: center; min-height: 100vh
}

.container { 
    background-color: aliceblue; 

}

.list {
    color: blue;display: flex;
    flex-direction: column;
  ;

}
.h01 {
    font-size: xx-large; padding: 24px;
}

.h02 {
    font-size: x-large; padding: 28px;
}

.h03 { 
    font-size: x-large; padding-left: 28px; 

}

.im{
    padding-top: 28px ;
}